@import '../../styles/index';

.container {
  display: flex;
  cursor: pointer;
  &:hover {
    background-color: $color-light-grey;
  }
}

.ico {
  margin-right: 10px;
}

.task {
  margin: 10px 5px;
  border: none;
}

.button {
  margin: 10px 5px;
}