@import '../../styles/index';

.container {
  position: relative;
  width: 256px;
  margin-left: 10px;
  background-color: rgb(250, 247, 247);
  transition: all .3s ease-out;
  z-index: 5;
}

.hidden {
  position: absolute;
  transform: translateX(-266px);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid $color-light-grey;
  border-radius: 2px;
  background-color: rgb(229, 229, 229);
  margin-bottom: 20px;
}

.title {
  padding: 20px;
  @extend %font-logo;
  @include font($size: 1.8rem, $height: 2rem, $weight: 500);
}

.show_ico {
  font-size: 1.8rem;
  color: $color-grey;
  padding: 10px;
  margin-right: 6px;
  border-radius: 4px;
  &:hover {
    background-color: $color-light-grey;
  }
}

.ico-hidden {
  position: absolute;
  top: 90px;
  left: 20px;
}

.item_ico {
  position: absolute;
  top: 200 px;
  right: 5px;
}

