@import '../../styles/index';

.container {
  width: calc(100% - 256px); //calculate
  height: 92%;
  //padding-left: 40px;
  //padding-top: 30px;
  //background-color: #acc3d4;  // aliceblue
}

.list__container {
  display: flex;
  height: 100%;
  padding-left: 40px;
  padding-top: 30px;
  overflow-y: auto;
}
