@import '../../styles/index';

.container {
  width: 100%;
  height: 100%;
  padding-left: 40px;
  padding-top: 30px;
  //background-color: #acc3d4;  // aliceblue
  overflow-y: auto;
}

.list__container {
  display: flex;
}
