@import '../../styles/index';

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
}

.change {
  // border: none;
  margin-bottom: 10px;
  @extend %font-logo;
  @include font($size: 2rem, $height: 2rem, $weight: 500);
  &:focus {
    border: 1px solid $color-light-grey;
  }
}

.list__title {
  @extend %font-logo;
  @include font($size: 2rem, $height: 2rem, $weight: 500);
  cursor: pointer;
}

.more {
  transform: rotate(90deg);
}