$color-button: #0065ff;
$color-button-hover: #0747a6;
$color-header-button: #172b4d;
$color-login-button: #4f93e5;
$color-login-button-hover: #5167b1;
$color-grey: #6e7693;
$color-light-grey: #bcbfcc;

$color-light: #ffffff;

$content-width: 1200px;
$tablet-width:  780px;
$content-tablet-width: 768px;
$mobile-width: 360px;
$content-mobile-width: 320px;