.layout {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.router {
  flex-grow: 1;
}

.footer {
  margin-top: -60px;
  height: 10%;
}
