@import '../../styles/index.scss';

.header.login__button {
  display: none;
}

.main {
  display: flex;
  flex-direction: column;
  padding: 32px;
  position: relative;
  width: 100%;
}

.current__workspace {
  display: flex;
  justify-content: space-between;
}

.title {
  padding: 10px;
  display: flex;
  gap: 10px;
  @extend %font-logo;
  @include font($size: 2.6rem, $height: 2.8rem, $weight: 500);
}

.column {
  @include columns($width: 21%);
}

.horizontal {
  margin: auto;
  width: 92.5%;
  background-color: $color-light-grey;
}

.boards {
  display: flex;
  flex-flow: row wrap;
  gap: 10px;
  position: relative;
}

.board {
  position: relative;
  width: 260px;
  height: 120px;
  cursor: pointer;
  border: 1px solid #bcbfcc;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  border-radius: 6px;
  box-shadow: 0px 4px 6px rgba(50, 49, 50, 0.08);
  text-decoration: none;
  overflow-x: hidden;

  &:hover {
    filter: brightness(85%);
    & .favorites {
      transform: translateX(-34px);
    }
  }

  &.create {
    background-color: white;
    color: $color-grey;
  }
}

.title_board {
  position: absolute;
  top: 10px;
  left: 6px;
  @extend %font-prim;
  @include font($size: 1.8rem, $height: 2.1rem, $weight: 600);
  text-decoration: none;
  color: $color-light;
  z-index: 12;
}

.status {
  position: absolute;
  bottom: 2px;
  left: 6px;
}

.lock {
  color: #ffffff;
  @extend %transition;
  transform: scale(0.7);
}

.favorites {
  background: transparent;
  border: none;
  position: absolute;
  bottom: 6px;
  right: -20px;
  @extend %transition;
}

.star {
  color: #ffffff;
  @extend %transition;
  &:hover {
    transform: scale(1.5);
  }
}
.itemstar {
  display: flex;
  gap: 10px;
  font-size: 24px;
}
.text {
  color: $color-grey;
}
.description {
  font-size: 16px;
  padding: 10px;
  margin-top: 5px;
}
.description_board {
  position: absolute;
  top: 38%;
  left: 6px;
  @extend %font-prim;
  @include font($size: 1.2rem, $height: 1.2rem, $weight: 300);
  text-decoration: none;
  color: $color-grey;
  z-index: 12;
}
.delete {
  background-color: transparent;
  border: none;
  position: absolute;
  top: 10px;
  right: 15px;
  z-index: 15;
  @extend %transition;
  font-size: 20px;
  color: #ffffff;
  &:hover {
    filter: brightness(85%);
    transform: scale(1.2);
    color: #ff0000;
  }
}
.board_link {
  position: relative;
}
