@import "../../styles/index.scss";

.header.login__button {
  display: none;
}

.main {
  display: flex;
  flex-direction: column;
  padding: 32px;
  position: relative;
  width: 100%;
}

.current__workspace {
  display: flex;
  justify-content: space-between;
}

.title {
  padding: 20px;
  @extend %font-logo;
  @include font($size: 2.6rem, $height: 2.8rem, $weight: 500);
}

.column {
  @include columns($width: 21%);
}

.horizontal {
  margin: auto;
  width: 92.5%;
  background-color: black;
}