.workspaceMembers {
  margin: 20px 0px 0px 40px;
}

.title {
  font-size: 18px;
  margin: 10px 0px 5px 0px;
}

.memberTiles {
  display: flex;
  flex-flow: row wrap;
  gap: 10px;
}

.memberTile {
  width: 25%;

  & .body {
    display: flex;
    align-items: center;
    gap: 20px;
  }
}