@import '../../styles/index';

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 2px;
  color: rgb(229, 229, 229);
}

.title {
  padding: 20px;
  @extend %font-logo;
  @include font($size: 1.8rem, $height: 2rem, $weight: 500);
}

.show_ico {
  font-size: 1.8rem;
  color: $color-grey;
  padding: 10px;
  margin-right: 6px;
  border-radius: 4px;
  &:hover {
    background-color: $color-light-grey;
  }
  cursor: pointer;
}

.ico_hidden {
  position: absolute;
  top: 96px;
  left: 10px;
  cursor: pointer;
  z-index: 2;
}

.item_ico {
  position: absolute;
  top: 200px;
  right: 5px;
}