@import '../../styles/index';

  
.footer__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
  
.footer__item {
  display: flex;
  padding: 20px 40px;
  @media screen and (max-width: 520px) {
    padding: 10px;
  }
  color: #172b4d;
}
  
.github-link {
  display: block;
  text-decoration: none;
  width: 40px;
  height: 40px;
  background: url("../../assets/svg/GitHub_icon.svg");
  background-size: cover;
  cursor: pointer;
  @extend %transition;
  &:hover {
    transform: scale(1.3);
  }   
}
  
.RS-link {
  display: block;
  text-decoration: none;
  width: 110px;
  height: 40px;
  background: url("../../assets/svg/rs-school.svg");
  background-size: cover;
  cursor: pointer;
  @extend %transition;
  &:hover {
    transform: scale(1.3);
  }
}